{% extends 'base.html' %}
{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">About Us</h1>
          <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
      </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <center>
      <div class="col-8">
        <p align = "justify">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos officia enim nulla itaque, atque assumenda sed ipsam recusandae illo, quis numquam eaque dolorum culpa maxime nesciunt tempora quae et sunt?
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa repudiandae beatae voluptate earum necessitatibus quis odio at voluptas labore excepturi, voluptates minima. Blanditiis, mollitia recusandae. Maiores quaerat blanditiis ab dicta.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit ipsam temporibus dolores expedita non perferendis facere libero eaque, est voluptatibus omnis reprehenderit doloribus eveniet voluptate pariatur velit asperiores natus? Veniam.
        </p>
      </div>
    </center>
  </div>
</div>
{% endblock %}